.libre-baskerville-regular {
  font-family: "Libre Baskerville", serif;
  font-weight: 400;
  font-style: normal;
}

.libre-baskerville-bold {
  font-family: "Libre Baskerville", serif;
  font-weight: 700;
  font-style: normal;
}

.libre-baskerville-regular-italic {
  font-family: "Libre Baskerville", serif;
  font-weight: 400;
  font-style: italic;
}

/*The top is the font*/

body {
  background-color:black;
}
#one {
  width:50%;
  margin-left:25%;
  margin-top:10vh;
}
img {
  width:100%;
}
#one div {
  border:1px solid white;
  margin-bottom:5px;
}
h1, p {
  color:white;
  font-family: "Libre Baskerville", serif;
  text-transform: uppercase;
  letter-spacing: clamp(0.6vw, 0.8vw, 0.9vw);
  text-align:center;
  margin:10px;
}
h1 {
  font-size:6vw;
  letter-spacing: clamp(1vw, 1.2vw, 1.4vw);
}
p {
  font-size:clamp(0.3rem, 2vw, 1.05rem );
}